<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Canva - Jobs at Canva</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body style="background: black" class="container text-center text-white">
    <div class="container mt-1 pt-3 pb-5 mb-5">
  		<h1 class="heading">Jobs at Canva</h1>
  	</div>
    <div class="container pt-5 mb-5">
      <h3 class="heading">Login to Continue</h3><br>
      <form action="/admin" method="post" class="form-search">
        <label>User name: </label>
        <input class="form-control-sm-8" id=name type="text" placeholder="Name" name="name"> <br><br>
        <label>Password: </label>
        <input class="form-control-sm-8" id=name type="password" placeholder="Password" name="password"><br><br>
        <input id=submit type="submit" name= "form" value="Login" /><br><br>
        <h6 class="text-danger">{{text}}</h6>
      </form>
  	</div>
  </body>
</html>
